<h1><%= title %></h1>

<%- messages() %>

<div id="login-box">
  <% if (errors) { %>
    <ul class="error-notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
  <form action="/inv/delete/" method="post">
    <p>Confirm Deletion - The delete is permanent.</p>
    <label>
      Make
      <input type="text" name="inv_make" value="<%= locals.inv_make %>" required readonly>
    </label>
    <label>
      Model
      <input type="text" name="inv_model" value="<%= locals.inv_model %>" required readonly>
    </label>
    <label>
      Year
      <input type="number" min="1000" max="9999" step="1" name="inv_year" value="<%= locals.inv_year %>" required readonly>
    </label>
    <label>
      Price
      <input type="number" min="1" max="999999999" step="1" name="inv_price" value="<%= locals.inv_price %>" required readonly>
    </label>
    <input type="submit" value="Delete Item">
    <input type="hidden" name="inv_id"<% if(locals.inv_id) { %> value="<%= locals.inv_id %>"<% } %>>
  </form>
</div>